
<%- include("_navbar") -%>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Inventory</title>
</head>
<body>
    <a href="/addProduct">Add New Product</a>

   <script>
    let width = screen.width
   
   </script>
    <!-- remove this to not have spacing  -->
    <!-- <div class="container"> -->
      <div class="table-responsive">
      

    <table class="table table-bordered border-primary table-hover table-sm table-responsive">
        <th>Product_ID</th>
        <th>Product_Name</th>
        <th>Product_Image</th>
        <th>Product_Price</th>
        <th>Product_Category</th>
        <!-- <th>Product_Color</th> -->
        <th>Edit Or Delete</th>
        <!-- <th>Cost_Per_Product</th> -->
          <tbody>
            <%for(i in products) {%>
              <tr>
                <td><%=products[i].product_Id%></td>
                <td><%=products[i].Product_Name%></td>
                <td><a href="<%=products[i].product_Image%>" ><img src="<%=products[i].product_Image%>" width="80" height="60"/></a></td>
                <td>$ <%=products[i].product_Price%></td>
                <td><%=products[i].Product_Category%></td>

                <td><a href="#">Delete</a>  <a href="/EditProduct/<%=products[i].Product_Name%>/<%=products[i].product_Price%>/<%=products[i].Cost_Per_Product%>">Edit</a></td>
              </tr>

            <%}%>
            
          </tbody>
      </table>
      </div>

    <!-- </div> -->


    <script src="extensions/resizable/bootstrap-table-resizable.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

<style>
  .table {
/* width: 50%; */
}
</style>
</html>